<table width="100%">
  <tbody>
    <tr>
      <td width="125" align="right">
        <div id="gruzopoluchatel_name" class="editable_sys" edtype="text" style="width: 100%; font-size: 10pt; background-color: transparent;">Грузополучатель</div>
      </td>
      <td style="border-bottom:1px solid;">
        <div id="gruzopoluchatel" class="editable" edtype="textarea" style="width: 100%; font-size: 8pt; background: transparent;">Наименование грузополучателя</div>
      </td>
    </tr>
    <tr>
      <td width="125" align="right">
        <div id="postavshik_name" class="editable_sys" edtype="text" style="width: 100%; font-size: 10pt; background-color: transparent;">Поставщик</div>
      </td>
      <td style="border-bottom:1px solid;">
        div id="postavshik" class="editable" edtype="textarea" style="width: 100%; font-size: 8pt; background-color: transparent; padding:;"
          | ПГ Ярдеколь, г.Ярославль, ул. иииииииииии, д.53, ст.2, Жуков А.А. ИНН 2324345434534
      </td>
    </tr>
    <tr>
      <td width="125" align="right">
        <div id="platelshik_name" class="editable_sys" edtype="text" style="width: 100%; font-size: 10pt; background-color: transparent;">Плательщик</div>
      </td>
      <td style="border-bottom:1px solid;">
        <div id="platelshik" class="editable" edtype="textarea" style="width: 100%; font-size: 8pt; background-color: transparent;">Наименование плательщика</div>
      </td>
    </tr>
    <tr>
      <td width="125" align="right">
        <div id="osnovanie_name" class="editable_sys" edtype="text" style="width: 100%; font-size: 10pt; background-color: transparent;">Основание</div>
      </td>
      <td style="border-bottom:1px solid;">
        div id="osnovanie" class="editable" edtype="textarea" style="width: 100%; font-size: 8pt; background-color: transparent;"
          | онлайн-заказ номер #{Order.iq(online_id)}
      </td>
    </tr>
    <tr>
      <td width="125" align="right"></td>
      <td valign="top">
        <div id="naryad_name" class="editable_sys" edtype="text" style="width: 100%; font-size: 6.5pt; text-align: center; background-color: transparent;">договор, заказ-наряд</div>
      </td>
    </tr>
  </tbody>
</table>