sumline
  .label.label-default.vp
    span
      | { s }

    |&nbsp;/&nbsp;
    strong
      | { de }

  javascript:

    rcontrol.on('THINGS_LIST_ON', function(data) {
      document.querySelector('.page .content').classList.add('hide')
      document.querySelector('.page .table50').classList.remove('hide')
      document.querySelector('.page .rim').classList.add('open')
    })

    rcontrol.on('THINGS_LIST_OFF', function(data) {
      document.querySelector('.page .content').classList.remove('hide')
      document.querySelector('.page .table50').classList.add('hide')
      document.querySelector('.page .rim').classList.remove('open')
    })

    self.on('mount', function() {
      let listel = self.root.closest('table')
      self.s = Array.from(listel.querySelectorAll('td[data-day="' + opts.d +  '"] .vp span'))
        .map(d => +d.innerText).reduce((a, b) => a + b, 0)
      self.de = Array.from(listel.querySelectorAll('td[data-day="' + opts.d +  '"] .vp strong'))
        .map(d => +d.innerText).reduce((a, b) => a + b, 0)
      self.update()
    })