order-select.wp100
  .col-md-6
    input.form-control.i1 type="text" placeholder="Поиск заказов" onkeyup='{ finditem }' onchange='{ finditem }'
    p.spacer
    .cont
      .arow if='{ fspots.length > 0 }': showcase: .glass.flex-v.cmar-04a
        .item.hand.wp100 each='{ f in fspots }' onclick='{ chooseitem }'
          .label.label-anew
            | { f.id }
          | &nbsp;&nbsp;{ f.city }

  .col-md-6.cmar-04a.flex-wrap: .citem.label.hand.label-default each='{ f in selected }' onclick='{ unchoose }'
    input type='hidden' name='ksm_draw[orders][]' value='{f}'  
    | { f }
    .xcross.fa.fa-times-circle

  javascript:
    self.selected = []
    
    finditem(a) {
      if (a.target.value.length > 1) {
        self.search(a.target.value)
      }
      else self.clear_results()

      return true
    }

    chooseitem(a) {
      var i = self.selected.indexOf(a.item.f.id)
      if (i < 0) self.selected.push(a.item.f.id)
      self.clear_results()
      var e1 = self.root.querySelector('input.i1')
      e1.value = ''
      e1.focus()
    }

    unchoose(a) {
      var i = self.selected.indexOf(a.item.f)
      if (i >= 0) self.selected.splice(i, 1)
    }

    search(string) {
      self.fspots = self.index.search(string)
      self.update()
    }

    clear_results() {
      self.fspots = []
      self.update()
    }

    loadlist() {
      var data = {
        authenticity_token: rsquad.token
      }

      fetch(opts.url, {
        method: "POST",
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams(data).toString()
      })
      .then(function(response) { return response.json() })
      .then(function(data) {
        self.products = self.cache = data
        self.init_products()
      })
    }

    self.on('mount', function() {
      self.loadlist()
    })

    init_products() {
      self.index = new FlexSearch({
        tokenize: "full",
        split: /\s+/,
        depth: 2,
        doc: {
          id: "id",
          field: [
            "keyword"
          ]
        }
      })
      self.index.add(self.products)
    }
