.custom-control-label {
  position: relative;
  margin-bottom: 0;
  // color: $custom-control-label-color;
  vertical-align: top;
  // cursor: $custom-control-cursor;
  padding-left: 2em;

  // Background-color and (when enabled) gradient
  // &::before {
  //   position: absolute;
  //   top: ($font-size-base * $line-height-base - $custom-control-indicator-size) / 2;
  //   left: -($custom-control-gutter + $custom-control-indicator-size);
  //   display: block;
  //   width: $custom-control-indicator-size;
  //   height: $custom-control-indicator-size;
  //   pointer-events: none;
  //   content: "";
  //   background-color: $custom-control-indicator-bg;
  //   border: $custom-control-indicator-border-color solid $custom-control-indicator-border-width;
  //   @include box-shadow($custom-control-indicator-box-shadow);
  // }


  &::before {
    position: absolute;
    top: .8rem;
    left: 0rem;
    display: block;
    width: 2rem;
    height: 2rem;
    pointer-events: none;
    content: "";
    background-color: transparent;
    border: #adb5bd dotted 2px;
    border-radius: 4px;
  }
}

.custom-control-input {
  // position: absolute;
  // left: 0;
  // z-index: -1; // Put the input behind the label so it doesn't overlay text
  // width: $custom-control-indicator-size;
  // height: ($font-size-base * $line-height-base + $custom-control-indicator-size) / 2;
  // opacity: 0;

  position: absolute;
  left: 0;
  z-index: -1;
  width: 1.5rem;
  height: 2.5rem;
  opacity: 0;

  &:checked ~ .custom-control-label::before {
    background-color: #b9c1cc;
    border-color: #9298d2;
    border-style: solid;
    // @include gradient-bg($custom-control-indicator-checked-bg);
    // @include box-shadow($custom-control-indicator-checked-box-shadow);
  }
}

.form-std {
  fieldset {
    display: flex;
    align-items: center;
  }
  label.control-label {
    min-width: 150px;
    text-align: right;
    margin-right: 1em;
    margin-bottom: 0;
  }
  .alabel {
    background-color: rgba(22, 66, 13, 0.25);
    color: white;
    .absol();
    top: 20%;
    .label();
    .caps();
  }
  .control-group.emb {
    background: rgba(111, 98, 98, 0.1);
    font-size: 1.6rem;
    border-radius: 4px;
    margin-bottom: 10px;
    align-items: center;
    .relat();
    .form-control {
      background: transparent;
    }
    .title {
      color: rgba(193, 181, 181, 1);
      font-size: 1.5rem;
    }
  }
  .control-group.embro {
    .control-group.emb();
    background: rgba(11, 136, 17, 0.1);
    .alabel {
      background-color: rgba(22, 66, 13, 0.25);
    }
  }
  .control-group.hame {
    .control-group.emb();
    background: rgba(222, 205, 177, 0.17);
    .alabel {
      background-color: rgba(66, 59, 13, 0.25);
    }
  }
  .form-control, .dropdown-toggle {
    margin: 2px auto;
    border: 0;
    color: #34495e;
    background: rgba(222, 205, 177, 0.17);
    /* background: rgba(127, 255, 0, 0.05); */
    background: rgba(208, 192, 166, 0.3);
    line-height: 1.7;
    
    // &.main {
    //   color: rgba(193, 181, 181, 1);
    //   background: rgba(111, 98, 98, 0.1);
    //   font-size: 1.6rem;
    // }

    &.ro {
      background: rgba(11, 136, 17, 0.1);
    }
  }
  .dropdown-toggle {
    .fa {
      font-size: .8em;
      color: rgb(131, 133, 118);
    }
  }
  .form-control {
    padding: 6px 15px;
  }
  .control-label {
    text-transform: uppercase;
    font-size: 0.7em;
    line-height: 1.6;
    letter-spacing: 0.08em;
    font-weight: 600;
    color: rgba(11, 107, 112, 0.53);
    line-height: 2.7;
    color: rgba(43, 67, 88, 0.67);
  }
}

label.swap-label, label.twice-label {
  min-width: unset;
  text-align: unset;
  margin-right: unset;
  margin-bottom: unset;

  .fa {
    // transition: all .3s ease-in-out 0s, opacity 1s ease-in-out 0s !important;
  }
}

.swap-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1.5rem;
  height: 2.5rem;
  opacity: 0;

  &:checked + .swap-label .fa {
    transform:rotate(180deg);
  }
}

.twice-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1.5rem;
  height: 2.5rem;
  opacity: 0;


  &:checked + .twice-label .on.fa {
    opacity: 1;
    width: unset;

    &:before {
      width: unset;
      display: inline;
    }
  }
  &:checked + .twice-label .off.fa {
    opacity: 0;
    width: 0;
    &:before {
      width: 0;
      display: none;
    }
  }

  & + .twice-label {
    position: relative;
    // padding: 1em;
    .on, .off {
      position: absolute;
      top: 50%;  /* position the top  edge of the element at the middle of the parent */
      left: 50%; /* position the left edge of the element at the middle of the parent */

      transform: translate(-50%, -50%)
    }
  }

  & + .twice-label .on.fa {
    opacity: 0;
    width: 0;
    &:before {
      width: 0;
      display: none;
    }
  }
  & + .twice-label .off.fa {
    opacity: 1;
    width: unset;
    &:before {
      width: unset;
      display: inline;
    }
  }
}

.text-twice-input {
  .twice-input;

  & + .twice-label {
    position: unset;

    .desc {
      margin-right: 3em;
    }
    .on, .off {
      position: unset;
      top: unset;
      left: unset;
      transform: unset;
      font-size: 1.2em;
    }
  }
}
