<div class="container">
    // <div class="page-header">
    //     <h3 id="">Timeline</h1>
    // </div>
    <div id="timeline">
        <div class="row timeline-movement timeline-movement-top">
            <div class="timeline-badge timeline-future-movement">
                <a href="#">
                    <span class="fa fa-plus"></span>
                </a>
            </div>
            <div class="timeline-badge timeline-filter-movement">
                <a href="#">
                    <span class="fa fa-calendar-o"></span>
                </a>
            </div>

        </div>
        <div class="row timeline-movement">

            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">#{@next.day}</span>
                <span class="timeline-balloon-date-month">#{I18n.t("date.month_names")[@next.month]}</span>
            </div>


            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li>
                                    <span class="importo">Заказ #1</span>
                                </li>
                                <li>
                                    <span class="causale">статус заказа</span>
                                </li>
                                <li>
                                    <p>
                                        <small class="text-muted">
                                            <i class="fa fa-map-marker"></i>11/09/2014</small>
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li>
                                    <span class="importo">Заказ #1</span>
                                </li>
                                <li>
                                    <span class="causale">статус заказа</span>
                                </li>
                                <li>
                                    <p>
                                        <small class="text-muted">
                                            <i class="fa fa-map-marker"></i>11/09/2014</small>
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--due -->

        <div class="row timeline-movement">


            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">13</span>
                <span class="timeline-balloon-date-month">APR</span>
            </div>

            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li>
                                    <span class="importo">Заказ #1</span>
                                </li>
                                <li>
                                    <span class="causale">статус заказа</span>
                                </li>
                                <li>
                                    <p>
                                        <small class="text-muted">
                                            <i class="fa fa-map-marker"></i>11/09/2014</small>
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li>
                                    <span class="importo">Заказ #1</span>
                                </li>
                                <li>
                                    <span class="causale">статус заказа</span>
                                </li>
                                <li>
                                    <p>
                                        <small class="text-muted">
                                            <i class="fa fa-map-marker"></i>11/09/2014</small>
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="row timeline-movement">


            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">10</span>
                <span class="timeline-balloon-date-month">APR</span>
            </div>

            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li>
                                    <span class="importo">Заказ #1</span>
                                </li>
                                <li>
                                    <span class="causale">статус заказа</span>
                                </li>
                                <li>
                                    <p>
                                        <small class="text-muted">
                                            <i class="fa fa-map-marker"></i>11/09/2014</small>
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li>
                                    <span class="importo">Заказ #1</span>
                                </li>
                                <li>
                                    <span class="causale">статус заказа</span>
                                </li>
                                <li>
                                    <p>
                                        <small class="text-muted">
                                            <i class="fa fa-map-marker"></i>11/09/2014</small>
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>