p = link_to "По городам", url(:statistic, :cities)
p = link_to "По текущим заказам", url(:statistic, :orders)
p = link_to "По готовым заказам", url(:statistic, :finished)
p = link_to "По сумме", url(:statistic, :done)
